@page
@model WebAppAPI.Pages.BillingInformationModel
@{
}

<form class="formClass" method="post">
    <input type="hidden" asp-for="@Model.service.Id" />
    <input type="hidden" asp-for="@Model.hire.amount" />
    <div class="divContainer">
        <div>
            <h1 class="b-display">Order</h1>

            <div class="row">
                <div class="leftColumn">
                    <p>@Model.total</p>
                    <p>Services ordered: @Model.service.Name</p>
                    
                </div>
            </div>
        </div>

        <div>
            <h1 class="b-display">Billing Information</h1>
            <div class="row">
                <div class="leftColumn">
                    <p class="text">Firstname</p><input asp-for="@Model.firstName" />
                    <p><span asp-validation-for="@Model.firstName"></span></p>
                    <p class="text">Address</p>
                    <input asp-for="@Model.address" />
                    <p><span asp-validation-for="@Model.address"></span></p>
                    <p class="text">City</p>
                    <input asp-for="@Model.city" />
                    <p><span asp-validation-for="@Model.city"></span></p>
                    <p class="text">Email</p>
                    <input asp-for="@Model.email" />
                    <p><span asp-validation-for="@Model.email"></span></p>
                    <button id="order" type="submit">Confirm</button>
                </div>
                <div class="rightColumn">
                    <p class="text">Lastname</p>
                    <input asp-for="@Model.lastName" />
                    <p><span asp-validation-for="@Model.lastName"></span></p>
                    <p class="text">Phonenumber</p>
                    <input asp-for="@Model.phonenumber" pattern="^\d{10}$" />
                    <p><span asp-validation-for="@Model.phonenumber"></span></p>
                    <p class="text">Zipcode</p>
                    <input asp-for="@Model.zipcode" pattern="^\d{5}$" />
                    <p><span asp-validation-for="@Model.zipcode"></span></p>
                    <button asp-page-handler="Index" id="order2">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</form>
