@page
@model WebAppAPI.Pages.HireModel
@{
}
<div id="div1">
    <form id="updateForm" method="post">
        <input type="hidden" asp-for="@Model.service.Id" />
        <input id="price" type="hidden" asp-for="@Model.service.Price" />
        <h4 class="h4Hire">@Model.service.Name</h4>
        <p>@Model.service.Description</p>
        <p>@Model.service.Price kr / h</p>
        <p>Hours</p>
        <input id="amount" type="number" min="1" pattern="[0-9]"/>
        <button type="button" id="hours" onclick="showDiv2()">Continue</button>
    </form>
</div>


<div id="div2" style="display:none;">

    <form class="formClass" method="post">
        <input type="hidden" asp-for="@Model.service.Id" />
        <input type="hidden" asp-for="@Model.total" />
        <div class="divContainer">
            <div id="orderBox">
                <h1 class="b-display">Order</h1>

                <div class="row">
                    <div class="leftColumn1">
                        <div class="orderinfo">
                            <p>@Model.service.Name</p>
                            <div id="theAmount">
                                <p id="count"></p>
                            </div>
                            <div id="thePrice">
                                <p>à @Model.service.Price kr / h</p>
                            </div>
                        </div>
                    </div>
                    <div class="rightColumn2">
                        <p> <br /></p>
                        <p id="totalPrice"></p>
                    </div>
                </div>
            </div>

            <div id="info">
                <h1 class="b-display">Billing Information</h1>
                <div class="row">
                    <div class="leftColumn">
                        <p class="text">Firstname</p>
                        <input type="text" asp-for="@Model.firstName" required />
                        <p><span asp-validation-for="@Model.firstName"></span></p>
                        <p class="text">Address</p>
                        <input type="text" asp-for="@Model.address" required />
                        <p><span asp-validation-for="@Model.address"></span></p>
                        <p class="text">City</p>
                        <input type="text" asp-for="@Model.city" required />
                        <p><span asp-validation-for="@Model.city"></span></p>
                        <p class="text">Email</p>
                        <input type="email" asp-for="@Model.email" required />
                        <p><span asp-validation-for="@Model.email"></span></p>
                        <button id="order" type="submit" asp-page-handler="Confirm">Confirm</button>
                    </div>
                    <div class="rightColumn">
                        <p class="text">Lastname</p>
                        <input type="text" asp-for="@Model.lastName" required />
                        <p><span asp-validation-for="@Model.lastName"></span></p>
                        <p class="text">Phonenumber</p>
                        <input type="tel" asp-for="@Model.phonenumber" pattern="^\d{10}$" required />
                        <p><span asp-validation-for="@Model.phonenumber"></span></p>
                        <p class="text">Zipcode</p>
                        <input type="tel" asp-for="@Model.zipcode" pattern="^\d{5}$" required />
                        <p><span asp-validation-for="@Model.zipcode"></span></p>
                        <button type="button" onclick="return confirm('All information will be lost')" id="order2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
