@page
@using Microsoft.IdentityModel.Tokens;
@model IndexModel
@{
    ViewData["Title"] = "If you need a service, we got it";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="/Create">Add service</a></h3>
    @foreach (Models.Service service in Model.services)
    {
        <p id="textClass">Service: @service.Name</p>
        <p id ="textClass">Price: @service.Price / h</p>
        <p id ="textClass">Description: @service.Description</p>
        @if (service.IsAvalible == true)
        {
            <p id="textClass">Available: Yes</p>
            <button class="updateButton" asp-page-handler="Hire" asp-route-id="@service.Id"><a class="linkedText" asp-page="Hire" asp-route-id="@service.Id">Hire</a></button>
        }
        else
        {
            <p id="textClass">Available: No</p>
        }
        <form method="post" asp-page-handler="Delete" asp-route-id="@service.Id">

            <button type="submit" class="delButton" onclick="return confirm('Are you sure you want to delete service : @service.Name')">
                Delete service
            </button>
            <button class="updateButton" asp-page-handler="Update" asp-route-id="@service.Id"><a class="linkedText" asp-page="Update" asp-route-id="@service.Id">Update</a></button>
        </form>

    }
</div>
